:root{
    /* PALETA PRINCIPAL */
--morado-oscuro: #370075;
--morado-claro: #8c52ff; 
--rosa-oscuro:#FF5096;
--rosa-claro: #FF99CC;
--text-grey: #c7c7c7;
/* TEXTOS E INPUTS */
--text-input-field: #f7f7f7;
--white: #FFFFFF;
--black: #000000;
/* TAMAÑO DE FUENTE */
--pp: 14px;
--pm: 16px;
--pg: 40px;

--tw-bg-opacity: 1;
}
 body {
/* font-family: 'Montserrat', sans-serif; */
font-family: 'Poppins', sans-serif;
background-color: rgba(36,35,43,var(--tw-bg-opacity));
color: white;
margin: 0;
}

/* navegacion */

nav{
    display: flex;
    justify-content: space-between;
    /* padding: 0 24px; */
    padding-right: 24px;
    border-bottom: 1px solid var(--rosa-oscuro);
    top: 0;
    position: fixed;
    z-index: 9999999;
    background-color: rgba(36,35,43,var(--tw-bg-opacity));
    float: left;
    width: 100%;
}
.menu{
    display: none;
}
.logo{
    background-color: rgba(36,35,43,var(--tw-bg-opacity));
    display: inline-block;
    width: 100px;
    margin-bottom: 0px;
    justify-self: center;
    margin-right: 38px;
}
.navbar-left{
    display: flex;
    margin-left: 12px;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none; 
    /* *para quitar bolitas */
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    /* para quitar lineas de subrayado */
    color: var(--white);
    border: 1px solid rgba(36,35,43,var(--tw-bg-opacity));
    padding: 8px;
    border-radius: 10px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    color: var(--morado-claro) !important;
    border: 1px solid rgba(36,35,43,var(--tw-bg-opacity));
    padding: 8px;
    border-radius: 10px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid var(--rosa-oscuro);
    color: var(--hospital-green);
}
.email {
   /* position:fixed; */
   color: var(--morado-claro) !important;
   font-size: var(--pp) !important;
   margin-right: 24px;
   cursor: pointer;
}
.shopping-cart:hover{
    color: var(--morado-oscuro);
    cursor: pointer;
}

.email:hover{
    color: var(--rosa-claro) !important;
}

.navbar-shopping-cart {
    position: fixed;
    right: 200px;
    cursor: pointer;

}
.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--rosa-claro);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--morado-oscuro);
}

/* menu desktop */
.desktop-menu {
position: absolute;
top: 60px;
right: 49px;
width: 100px;
height: auto;
border: 1px solid var(--rosa-oscuro);
border-radius: 6px;
padding: 20px 20px 0 20px;
z-index: 2;
}
.desktop-menu ul {
list-style: none;
padding: 0;
margin: 0;
}
.desktop-menu ul li{
text-align: end;
}
.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2){
font-weight: bold;
}

.desktop-menu ul li:nth-child(1) a:hover, .desktop-menu ul li:nth-child(2) a:hover {
color: var(--morado-oscuro);

}


.desktop-menu ul li:nth-child(3){
padding-top: 20px;
border-top: 1px solid var(--rosa-oscuro);
}
.desktop-menu ul li:nth-child(3) a{
color: red;  
font-size: var(--sm);  
}

.desktop-menu ul li a {
color: white;
text-decoration: none;
margin-bottom: 20px;
display: inline-block;
}

.inactive{
display: none;
}

/* menumobile */

.menu{
    cursor: pointer;
}


.mobile-menu {
position:absolute;
background-color: rgba(36,35,43,var(--tw-bg-opacity));
top: 60px;
padding: 0px 30px 0px 30px;
width: 50%;
border: 1px solid var(--rosa-oscuro);
}
.mobile-menu a {
text-decoration: none;
color: var(--white);
padding-left: 20px;
/* font-weight: bold; */
/* margin-bottom: 24px; */
}

.mobile-menu a:active {
color: var(--morado-claro) !important;
}

.mobile-menu ul {
padding: 0;
margin: 24px 0 0;
list-style: none;
}
.mobile-menu ul:nth-child(1) {
border-bottom: 1px solid var(--morado-claro);
}
.mobile-menu ul:last-child{
/* position: absolute; */
bottom: 0;
}
.mobile-menu ul li {
margin-bottom: 24px;
}
.mobile-email {
font-size: var(--pp);
color: var(--rosa-claro) !important;
font-weight: 300px !important;
/* position: absolute; */
bottom: 10;
}
.sign-out {
font-size: var(--pp);
color: red !important;
}

@media (max-width: 640px) {
   .menu {
    display: block;
   } 
   .navbar-left ul{
    display: none;
   }
   .email{
    display: none;
   }
   .navbar-shopping-cart {
    right: 12px;
    top: 20px;
   }
}

@media (min-width: 641px) {
    .mobile-menu{
        display: none;
    }
}

/* CARRITO ASIDE*/
.product-detail {
    width: 360px;
    padding: 24px;
    padding-top: 0;
    box-sizing: border-box;
    /* position: absolute; */
    position: fixed;
    margin-top: 60px;
    margin-right: 25px;
    right: 0;
    z-index: 3;
    border-radius: 16px;
    border: 1px solid var(--rosa-oscuro);
  }

.desktop-menu, .product-detail, .title-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    background: linear-gradient(100deg, rgba(0,0,0,0, .2), rgba(0,0,0,0, .2));
    box-shadow: 0 10px 26px rgba(0,0,0,0, .50);
  }

  .title-container {
    display: flex;
    cursor: pointer;
  }

  .title-container:hover{
    color: var(--morado-oscuro);
    font-weight: bold;
  }


  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: var(--morado-claro);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 40px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  @media (max-width: 640px) {
    .product-detail {
      width: 100%;
      margin-right: 0;
    }
  }

/* FOOTER */

footer{
    font-size: var(--pm);
    line-height: 1.3;
    box-sizing: border-box;
    display: block;
    padding-top: 10px;
    padding-left: 25%;
    padding-right: 25%;
    background: rgba(36,35,43,var(--tw-bg-opacity));;
    text-align: center;
    align-items: center;
    }
    
    
    .head-foot {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 0;
        border-bottom: 2px solid var(--morado-claro);
    }
    
    
    
    .izquierda .derecha{
        list-style: none; 
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        height: 60px;
        
    }
    .derecha img{
        position: absolute;
        clip: rect(0px, auto, 500px, 0px);
    }
    
    
    .subir{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: var(md);
    }
    
    .head-foot a p:hover {
        color: var(--morado-claro);
    }
    
    .head-foot a img{
        width: 24px;
        height: 18px;
        transform: rotate(270deg);
        
    }
    
    .footer .socialBox{
        display: grid;
        place-items: center;
    }
    
    .socialBox {
        padding-left: 0;
        margin-bottom: 24px;
    }
    .socialBox ul li{
        float: left;
    }
    .footer .socialBox ul li{
        text-decoration: none;
        list-style: none;
    }
    .footer .socialBox ul li a{
        display: grid;
        grid-template-rows: auto;
        font-size: 40px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding-left: 0;
        line-height: 60px;
        
    }
    .socialBox ul li a:hover{
     width: 65px;
     height: 65px;
     border: 2px solid var(--morado-claro);
    }
    .socialBox ul li+li{
    margin-left:10px
    }

    .clearfix{
        padding-left: 0px;
    }
    /* .socialBox:before,.socialBox:after{
    content:" ";
    display:table
    } */
    /* .clearfix:before,.clearfix:after{
    content:" ";
    display:table
    }
    .clearfix:after{
    clear:both
    } */
    
    /* links de pagina estaticas */

    .footerLinks{
        padding-left: 0;
    }
    
    .footer .footerLinks ul{
    display: inline-block;
    place-items: center;
    list-style: none;
    padding-left: 0px;
    }
    .footer .footerLinks ul li{
    float:left;
    padding:0 10px
    }
    .footer .footerLinks ul li a{
    display:block;
    font-size:18px;
    list-style: none;
    text-decoration: none;
    color: white;
    }
    .footer .footerLinks ul li a:hover{
    color: var(--morado-claro)
    }
    .footer .footerLinks ul li+li{
    border-left:1px solid var(--morado-claro)
    }
    .footer .footerLinks ul:after{
    content:"";
    /* display:table; */
    /* clear:both */
    }

     .footerLinks ul li a::selection{
        background-color: var(--morado-oscuro);
    }
    
    .copyright{
        font-size: var(--pp);
    }

    .copyright p::selection{
        background-color: var(--morado-oscuro);
    }
    
    .copyright a{
        color: var(--morado-claro);
    }

    .copyright a::selection{
        background-color: var(--morado-oscuro);
        color: WHITE;
    }
    
    @media (max-width:640px) {
        .footer{
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
        }
        .footer .footerLinks ul li{
            float:none;
        }    
        .socialBox ul li+li{
            margin-left: 15px;
        }
        .footerLinks ul{
            display: grid;
            place-items: center;
        }
        .footer .footerLinks ul li+li{
            border-left:none;
            }
        .clearfix :nth-child(1){
            margin-left: 0px !important;
        }    
        .footer .socialBox ul li a{
            display: block;
            font-size: 40px;
            padding-left: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
    }
}