:root{
/* PALETA PRINCIPAL */
--morado-oscuro: #370075;
--morado-claro: #8c52ff; 
--rosa-oscuro:#FF5096;
--rosa-claro: #FF99CC;
--text-grey: #c7c7c7;
/* TEXTOS E INPUTS */
--text-input-field: #f7f7f7;
--white: #FFFFFF;
--black: #000000;
/* TAMAÑO DE FUENTE */
--pp: 14px;
--pm: 16px;
--pg: 40px;

--tw-bg-opacity: 1;
}
body {
font-family: 'Poppins', sans-serif;
background-color: rgba(36,35,43,var(--tw-bg-opacity));
color: white;
margin: 0;
position: relative;
}
.darken{
width: 100%;
height: 100%;
position: absolute;
background-color: rgba(0, 0, 0, 0.5);
}
.primary-button{
background-color: var(--rosa-oscuro); 
border-radius: 16px;
border: none;
color: var(--white);
width: 100%;
cursor: pointer;
font-size: var(--md);
font-weight: bold;
height: 50px;
}
.login{
    padding-top: 90px; 
    padding-bottom: 90px;
    width: 100%;
    background-image: url(../assets/fondos/1.svg);
    background-size: cover;
}   
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 240px;
    padding-top: 0px;
    padding-bottom: 4px;
    border: 2px solid var(--rosa-oscuro);
    border-radius: 25px;
    cursor: pointer
}
.product-card img{
    width: 240px; 
    height: 240px;
    border-radius: 24px 24px 0 0;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
    
}
.product-info figure img{
    width: 40px; 
    height: 40px;
    cursor: pointer;
}
.product-info div p:nth-child(2) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
    border: 1px solid var(--rosa-oscuro);
    background-color: var(--rosa-oscuro);
    border-radius: 10px;
    text-align: center;
    width: 100px;
    margin-left: 5px;
}
.product-info div p:nth-child(1) {
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--very-light-pink);
    width: 200px;
    text-align: center
}
.product-info div p:nth-child(1)::selection, .product-info div p:nth-child(2)::selection{
    background-color: var(--morado-claro);
    /* color: var(--morado-oscuro); */
}

@media (max-width: 640px) {
.card-container{
display: grid;
grid-template-columns: repeat(auto-fill, 140px);
gap: 46px;
}
.product-card{
width: 140px;
}
.product-card img{
width: 140px; 
height: 140px;
border-radius: 24px 24px 0 0;
object-fit: cover;
}
.product-info div p:nth-child(1){
width: 100px;
font-size: 12px;
}
.product-info div p:nth-child(2){
width: 80px;
}
}

/* ASIDE DETALLES DE SERVICIO*/

/* #product-detail{ */

    #product-detail1, #product-detail2, #product-detail3, #product-detail4, #product-detail5, #product-detail6, #product-detail7, #product-detail8, #product-detail9, #product-detail10, #product-detail11, #product-detail12{
    margin-top: 63px;
    width: 360px;
    padding-bottom: 24px;
    position: fixed;
    right: 8px;
    background-color: rgba(36,35,43,var(--tw-bg-opacity));
    border: 3px solid var(--rosa-oscuro);
    border-radius: 30px;
    z-index: 2;
}

#product-detail-close{
    width: 40px;
    height: 40px;
    z-index: 2;
    position:absolute;
    right: 25px;
    top: 25px
}
.close-icon1, .close-icon2, .close-icon3, .close-icon4, .close-icon5, .close-icon6, .close-icon7, .close-icon8, .close-icon9, .close-icon10, .close-icon11, .close-icon12 {
    transform:rotate(225deg);
}

#product-detail-close:hover{
    cursor: pointer;
}
#product-detail img:nth-child(2){

    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

#product-detail1 img:nth-child(2), #product-detail2 img:nth-child(2), #product-detail3 img:nth-child(2), #product-detail4 img:nth-child(2), #product-detail5 img:nth-child(2), #product-detail6 img:nth-child(2), #product-detail img:nth-child(2), #product-detail7 img:nth-child(2), #product-detail8 img:nth-child(2), #product-detail9 img:nth-child(2), #product-detail10 img:nth-child(2), #product-detail11 img:nth-child(2), #product-detail12 img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

#product-info {
    margin: 24px 24px 0 24px;
}
#product-info p:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 26px;
}
#product-info p:nth-child(1){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 10px;
}
#product-info p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}
.primary-button22 {
    background-color: var(--morado-claro);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.primary-button22:hover{
    background-color: var(--morado-oscuro);
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 640px){
    #product-detail1, #product-detail2, #product-detail3, #product-detail4, #product-detail5, #product-detail6, #product-detail7, #product-detail8, #product-detail9, #product-detail10, #product-detail11, #product-detail12{
        width: 95%;
    }
}